body{
    margin-top: 0px;
}
.wltop{
    height: 90px;
    background-color:#1E9FFF;
}
.logo{
    height: 50px;
    padding-left: 118px;
}
.tou{
    height: 90px;
    padding-top: 29px;
}
.layui-fluid{
    padding-left: 0px;
    padding-right: 0px;
}