.hytitle{
    height: 30px;
    padding-left: 316px;
    padding-top: 20px;
    display: flex;
}
.hytitle_font{
    width: 126px;
    height: 15px;
    border-bottom: solid; 
    color: #5d8bc8;
    margin-top: 12px;
    text-align: center;
    line-height: 8px;
    font-weight: 800;
    font-size: 16px;
    margin-left: 50px;
}
.hytitle_font2{
    width: 126px;
    height: 15px;
    border-bottom: 0; 
    color: #999;
    margin-top: 12px;
    text-align: center;
    line-height: 8px;
    font-weight: 800;
    font-size: 16px;
}
.content{
    background-color:#eceff4;
    height:auto;
    padding-bottom: 50px;
    min-width: 1770px;
    overflow-x: auto;
}
.content_nav{
    width: 62%;
    margin: auto;
}
.content_navl{
    width: 300px;
    font-weight: 800;
    font-size: 15px;
    margin-left: 5px;
    color: gray;
    padding-top: 20px;
}
.content_navl span{
    width: 300px;
    color: #5d8bc8;
}
.layui-input, .layui-textarea {
    display: block;
    width: 240px;
    padding-left: 10px;
}
.layui-input-block {
     margin-left: 0;
     min-height: 0;
}
.grid-demo{
    padding-left: 117px;
}
label input{
    width: 240px;
    cursor: pointer;
    border: none;
    padding-left: 9px;
    box-shadow: 0px 1px 3px #888888;
    margin-top: 6px;
    border-radius: 6px;
    height: 32px;
}
.date_font{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    line-height: 38px;
    text-align: center;
    box-shadow: 0px 1px 3px #888888;
    color: grey;
}
.date_tubiao{
    position: relative;
    top: 1px;
    margin-right: -3px;
}
.z_tubiao{
    position: relative;
}
.date_tubiao2{
    position: relative;
    top: 1px;
    margin-left: -2px;
    cursor: pointer;
    width: 31px;
}
#test1 {
    height: 179px;
    overflow: auto;
    width: 242px;
    position: absolute;
    left: 1px;
    background-color: white;
    z-index: 999;
    border: solid rgba(222,225,230,0.3);
    visibility: hidden;
}
#test2 {
	height: 107px;
    overflow: auto;
    width: 244px;
    position: absolute;
    left: 3px;
    top: 83px;
    background-color: white;
    z-index: 999;
    border: solid rgba(222,225,230,0.3);
    visibility: hidden;
}
label{
    font-size: 14px;
    font-weight: 550;
}
.diqu{
    width: 136px;
}
.diqu input{
    width:140px;
    box-shadow: 2px 2px 5px #888888;
}
.grid-demo {
    padding-left: 4px;
    margin-top: 25px;
}
.layui-form-select{
    width: 244px;
}
.diqu .layui-form-select{
    width: 144px;
}
.date_font{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: white;
}
.hy_btn{
    margin-top: 24px;
    margin-bottom: 18px;
}
.hy_btn button{
    float: right;
    margin-right: 5px;
    margin-left: 1px;
}
@media screen and (min-width: 768px){
.layui-col-sm3 {
    width: 25%;
    margin-top: -20px;
}
}
.clear{
    clear:both;
}
.layui-btn+.layui-btn{
    margin-left: 0px;
}
.findres{
    
    height: auto;
    background-color: white;
    margin-top: 35px;
    padding-left: 13px;
    padding-right: 13px;
    width: 1140px;
    margin: auto;
}
td{
    text-align: center;
}
.layui-table th {
    text-align: center;
    font-weight: 400;
}
.findres button{
    margin-left: 10px;
    margin-top: 10px;
}
#shuju{
    margin: auto;
    width: 400px;
}
.layui-btn{
    border-radius: 5px;
}
#layui{
   display: flex;
   justify-content: space-around;
}
#layui .layui-laypage-btn{
    margin-top: 0;
}
.cover4{
    width: 100%;
    height:100%;
    background-color: rgba(143, 144, 148,0.3);
    position: fixed;
    z-index: 999;
    top: 2px;
    display:none;    
}
.wj{
    margin-top: 33px;
    padding-left: 60px;
    color: #70a6c0;
}
.tcc_content{
    width: 600px;
    height: 300px;
    background-color: #fff;
    margin: auto;
    margin-top: 12%;
}
.tcc_title{
    padding-top: 10px;
    padding-left: 12px;
    font-size: 16px;
}
.findfile{
    height: 190px;
}
.findfile_an{
    float: right;
    position: relative;
    right: 14px;
}