.hytitle{
    height: 30px;
    padding-left: 100px;
    padding-top: 20px;
}
.hytitle_font{
    width: 97px;
    height: 15px;
    color: #5d8bc8;
    margin-top: 12px;
    text-align: center;
    line-height: 8px;
    font-weight: 800;
    font-size: 16px;
    display: inline-block;
    margin-left: 21px;
    cursor: pointer;
}
.content_navi{
    margin-top: 63px;
}
.content{
    background-color:#eceff4;
    height:auto;
    padding-bottom: 50px;
        min-width: 1770px;
    overflow-x: auto;
}
.content_nav{
    width: 90%;
    margin: auto;
}
.content_navl{
    width: 300px;
    font-weight: 800;
    font-size: 15px;
    margin-left: 5px;
    color: gray;
    padding-top: 20px;
}
.content_navl span{
    width: 300px;
    color: #5d8bc8;
}
.layui-input, .layui-textarea {
    display: block;
    width: 300px;
    padding-left: 10px;
}
.layui-input-block {
     margin-left: 0;
     min-height: 0;
}
.grid-demo{
    padding-left: 117px;
}
label input{
    width: 300px;
    cursor: pointer;
    border: none;
    padding-left: 9px;
    box-shadow: 0px 1px 3px #888888;
    margin-top: 6px;
    border-radius: 6px;
    height: 32px;
}
.date_tubiao{
    position: relative;
    top: 1px;
    margin-right: -3px;
}
.date_tubiao2{
    position: relative;
    top: 1px;
    margin-left: -2px;
    cursor: pointer;
}
label{
    font-size: 14px;
    font-weight: 550;
}
.diqu{
    width: 136px;
}
.diqu input{
    width:140px;
    box-shadow: 2px 2px 5px #888888;
}
.grid-demo {
    padding-left: 4px;
    margin-top: 25px;
}
.layui-form-select{
    width: 300px;
}
.diqu .layui-form-select{
    width: 144px;
}
.date_font{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: white;
}
.hy_btn{
    margin-top: 45px;
}
.hy_btn button{
    float: right;
    margin-right: 5px;
    margin-left: 1px;
}
@media screen and (min-width: 768px){
.layui-col-sm3 {
    width: 25%;
    margin-top: -20px;
}
}
.clear{
    clear:both;
}
.layui-btn+.layui-btn{
    margin-left: 0px;
}
.findres{
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 35px;
    padding-left: 13px;
    padding-right: 13px;
}
.lisfindres{
    padding-top: 34px;
}
td{
    text-align: center;
}
.layui-table th {
    text-align: center;
    font-weight: 400;
}
.findres button{
    margin-left: 10px;
    margin-top: 10px;
}
#shuju{
    margin: auto;
    width: 540px;
}
.layui-btn{
    border-radius: 5px;
}
.datesz{
    margin-right: 21px;
}
.quer{
    margin-left: 38px;
}
.tableyuan{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 66px;
    z-index: 100;
}
.tableyuan2{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 66px;
    background-image: url(../img/tableck.png);
    z-index: 99;
}
.table_button{
    position: relative;
    z-index: 101;
    /* opacity: 0; */
}
.cover1,.cover2,.cover3,.cover4,.cover5,.cover6,.cover7,.cover8,.cover9{
    width: 100%;
    height:100%;
    background-color: rgba(143, 144, 148,0.3);
    position: fixed;
    z-index: 999;
    top: 2px;

    /* visibility: visible;*/
    display:none;    
}
/* .cover8{
    width: 100%;
    height:100%;
    background-color: rgba(143, 144, 148,0.3);
    position: absolute;
    z-index: 999;
    top: 2px;
}  */
.cover2 textarea{
    width: 492px;
    margin-top: 33px;
    padding-left: 6px;
    padding-top: 6px;
}
.tcc_content{
    width: 600px;
    height: 300px;
    background-color: #fff;
    margin: auto;
    margin-top: 12%;
}
.tcc_title{
    padding-top: 10px;
    padding-left: 12px;
    font-size: 16px;
}
.tcc_scwj{
    height: 226px;
    text-align: center;
    line-height: 226px;
}
.findfile{
    height: 190px;
}
.tcc_an{
    padding-left: 450px;
}
.wj{
    margin-top: 33px;
    padding-left: 60px;
    color: #70a6c0;
}
.findfile_an{
    float: right;
    position: relative;
    right: 14px;
}
#shuju3,#shuju2{
    padding-left: 480px;
}
#shuju3 .layui-laypage-btn {
    margin-top: 0;
}
#shuju2 .layui-laypage-btn {
    margin-top: 0;
}
#shuju .layui-laypage-btn {
    margin-top: 0;
}
.date_tubiao2{
    width: 32px;
    height: 32px;
    background-color: white;
    box-shadow: 0px 1px 3px #eceff4;
}
.date_font{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
    box-shadow: 0px 1px 3px #888888;
    color: grey;
}
.li_querentg{
    line-height: 190px;
    font-size: 18px;
    text-align: center;
}